body {
    padding-top: 100px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.navbar-default {
    border: none;
    margin: 0;
    background-color: #262626;
}

header .ident {
    padding: 25px 0;
}

.navbar .navbar-right > li > a {
    color: #d9d9d9;
    font-size: 13px;
    text-transform: uppercase;
}

.navbar .navbar-right > li > a:hover {
    color: #ff6760;
}

.navbar .navbar-right > li > a:focus {
    color: #ff6760;
}

.about {
    padding: 80px 0 60px 0;
    background-color: #2a2a2a;
    text-align: center;
}

.about h1 {
    margin-bottom: 30px;
    color: #d9d9d9;
    font-size: 60px;
}

.about p {
    margin-bottom: 55px;
    color: #d9d9d9;
    font-size: 40px;
}

.about button {
    border: 0 none;
    border-radius: 4px;
    background-color: #ff6760;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}

.services {
    padding: 70px 0;
    background-color: #f8f8f8;
    text-align: center;
}

.services a {
    text-decoration: none;
}

.services img {
    margin: 25px;
}

.services a > h4 {
    margin-bottom: 20px;
    color: #616161;
    font-size: 18px;
    text-transform: capitalize;
}

.services a > p {
    margin-bottom: 25px;
    color: #616161;
    font-size: 14px;
}

.portfolio {
    padding: 40px 0 75px 0;
    background-color: #ffffff;
    color: #616161;
    text-align: center;
}

.portfolio h2 {
    margin-bottom: 25px;
    font-size: 30px;
}

.portfolio h3 {
    margin-bottom: 45px;
    font-size: 20px;
}

.portfolio ul {
    display: inline-block;
}

.portfolio ul > li > a {
    border: 0 none;
    border-radius: 4px;
    margin-bottom: 25px;
    background-color: #ff6760;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
}

.portfolio ul > li > a:hover {
    background-color: #595959;
}

.portfolio li.active > a {
    background-color: #595959;
    color: #ffffff;
    border: 0 none;
}

.portfolio div > a > img {
    max-width: 100%;
    padding: 15px 0;
}

.contacts {
    padding: 40px 0;
    background-color: #313131;
    text-align: center;
}

.contacts h2 {
    margin-bottom: 25px;
    color: #e0e0e0;
    font-size: 30px;
}

.contacts h3 {
    margin-bottom: 25px;
    color: #bebebe;
    font-size: 20px;
}

.contacts address {
    display: inline-block;
    color: #bebebe;
    font-size: 14px;
}

.contacts address:before {
    position: relative;

    display: inline-block;
    width: 10px;
    height: 12px;
    margin-right: 7px;

    background: url(../images/fill.png) no-repeat;

    content: '';
}

.contacts h5 {
    display: inline-block;
    margin: 0 45px 30px 45px;
    color: #bebebe;
}

.contacts h5:before {
    position: relative;

    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 7px;

    background: url(../images/phone.png) no-repeat;

    content: '';
}

.social-icons li {
    display: inline-block;
    overflow: hidden;
    border-radius: 50%;
    margin: 3px;
}

.social-icons {
    padding: 0;
}

.social-icons li.rss {
    background-color: #ee802f;
}

.social-icons li.facebook {
    background-color: #3b5998;
}

.social-icons li.twitter {
    background-color: #08a0e9;
}

.social-icons li.dribble {
    background-color: #c73b6f;
}

.social-icons li.pinterest {
    background-color: #c92228;
}

footer {
    padding: 20px 0;
    background-color: #2c2c2c;
}

footer h5 {
    color: #bebebe;
    text-align: center;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width: 767px) {

    header .ident {
        margin: 0 15px;
    }

    .navbar-nav {
        margin: 25px 0 0 0;
    }

    header .navbar-right {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
    }

    header .navbar-right li a {
        padding: 0;
    }

    .about {
        padding: 40px 0;
    }

    .about h1 {
        margin-bottom: 20px;
        font-size: 40px;
    }

    .about p {
        margin-bottom: 20px;
        font-size: 30px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {

    .navbar .navbar-right > li > a {
        font-size: 10px;
    }

    .portfolio ul > li > a {
        font-size: 8px;
    }
}
